{% extends 'coreApp/base.html' %}

{% block content %}

    <div class="row">
      <div class="col">
        <form action='{% url 'add' %}' method="POST">
         
          <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" name="title" id="inputTitle" placeholder="Task Title">
          </div>
          <div class="form-group">
            <label for="inputBody">Body</label>
            <input type="text" class="form-control" name="body" id="inputBody" placeholder="Appointment, meeting, or call">
          </div>
  
          <button type="submit" class="btn btn-primary">Add Task</button>
        </form>
      </div>
    </div>    
    
    <div class="row">
      <div class="col">
        <div class="list-group">
          {% for task in data %}
            <div  class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{task.title}}</h5>
                <small>{{task.pub_date}}</small>
              </div>
              <p class="mb-1"> {{ task.body }} </p>
              <div class="float-right">
                <a href="{% url 'delete' task.id %}">Delete</a>
              </div>
            </div>

          {% endfor %}
        </div>
      </div>
    </div>

{% endblock content %}
